<div class="homeBody homeInit container-fluid px-4 px-md-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="card-custom mb-4 custom-width">
          <img class="rounded-circle mx-auto my-3" style="object-fit: cover; height: 150px; width: 150px;" src="https://res.cloudinary.com/ensamble/image/upload/v1613167406/6f34a0248653a5483ac7d7950fc13ce4_2_shgyuj.png" alt="logo">
          <div class="actions">
            <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label class="font-weight-bold mb-0">Correo</label>
                <input type="text" name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="mb-4 form-control" placeholder="abc@xyz.com">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Correo es requerido</div>
                </div>
              </div>
              <div class="form-group">
                <label class="font-weight-bold mb-0">Contraseña</label> 
                <div class="input-group">
                  <input name="password" [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" id="password-field" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
                  <div>
                    <i alt="show" class="far fa-eye eye-show mt-3" (click)="showPassword = !showPassword" *ngIf="showPassword"></i>
                    <i alt="hide" class="far fa-eye-slash eye-hide mt-3" (click)="showPassword = !showPassword" *ngIf="!showPassword"></i>
                  </div>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Contraseña es requerido</div>
                  </div>
                </div>
              </div>
              
              <div *ngIf="hideMsg" class="row no-gutters alert alert-warning error-message text-center mt-2" role="alert">
                <strong class="text-center"><i class="fas fa-times-circle mt-1 mr-3"></i> {{ ShowMsg }}</strong>
              </div>
              <div class="follow-btn" type="submit">
                <button class="btn btn-primary">
                  <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                  </svg>
                  Iniciar Sesión
                </button>
              </div>
            </form>

            <div class="col-12 mt-4"> 
              <a [routerLink]="['/forgot-pets']" class="text-sm ml-auto text-dim">Olvidó contraseña?</a><br>
              <a [routerLink]="['/home']" class="text-sm ml-auto text-dim"><i class="fas fa-home mt-1"></i> Ir a inicio</a> 
            </div>
          </div>
        </div>
    </div>
</div>