<div *ngIf="authService.loggedIn() || petService.loggedIn()" class=" toolbar">
    <nav class="navbar navbar-expand navbar-dark" [ngClass]="{'p-0 ml-3' : !Media.IsMobile }">
        <a id="menu-toggle" class="navbar-brand">
            <span class="navbar-toggler-icon"></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <div class="button mail" (click)="isFoo = !isFoo" ><i class="fas fa-bell"></i><span *ngIf="isNewMsg > 0"  class="badge">{{isNewMsg}}</span></div>
                </li>
                <!-- <li class="nav-item">
        <div class="button mail d-none d-lg-block" *ngIf="AllowMailbox" (click)="goMailbox()"><i class="fas fa-envelope"></i><span *ngIf="unreadMails > 0" class="badge">{{unreadMails}}</span></div>
                </li> -->
                <li class="nav-item" [ngClass]="{'justify-content-md-end' : !Media.IsMobile }">
                    <div (click)="logout()" class="button-logout d-none d-lg-block"><i class="fas fa-sign-out-alt"></i></div>
                </li>
            </ul>
        </div>
    </nav>
    <div *ngIf="isFoo" class="dropdown-menu p-0 dropdown-menu-right dropdown-menu-animated dropdown-lg show" style="overflow-y: scroll;">

        <!-- item-->
        <div class="sticky-top dropdown-item noti-title bg-dark text-white">
            <h5 class="m-0">
                <span class="float-right">
                </span>Notification
            </h5>
        </div>

        <div class="notifications" style="width: 360; height: 250px;" >
            <div *ngFor="let item of notificationsData" class="row no-gutters border-bottom" [ngClass]="{'isNewMsg': item.isNewMsg}">
                <div class="notify-icon col-3 p-3">
                    <img src="{{item.photo}}" style="height: 50px; width: 50px;" class="img-fluid rounded-circle" alt="{{item.photo}}">
                </div>
                <div class="col-9">
                    <div class="row no-gutters">
                        <p class="mb-0 mt-3"><small>{{item.message}}</small></p>
                        <div class="col-6">
                            <small>{{this.getDate(item.dateMsg)}}</small>
                        </div>
                        <div class="col-6">
                            <button *ngIf="item.isNewMsg" (click)="updateNotification(item)" class="btn btn-info btn-sm">Entendido</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- All-->
            <a class="dropdown-item text-center text-primary notify-item view-all">
                View All
            </a>
        </div>
    </div>
</div>