<div class="scroll" (scroll)="divScroll($event, false)" id="SearchComponent">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" [ngClass]="{'scrolled': !isShow, 'scrolling-navbar': isShow, 'top-nav-collapse': isShow}">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand" [routerLink]="'/home'">
                <img height="50px"
                    src="https://res.cloudinary.com/ensamble/image/upload/v1613153301/logopets_uyf4xq.png"
                    alt="LocalPetsAndFamilyLogo">
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/login-pets'">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/register-pets'">Registrarse</a>
                    </li>
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/mdbootstrap" class="nav-link" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/MDBootstrap" class="nav-link" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

    <div class="mt-5 pt-5">
        <div class="container px-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
                <div class="container-fluid d-flex">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li *ngIf="showSimple" class="nav-item" role="presentation"> <a class="nav-link active" id="home-tab" data-toggle="tab"
                                href="#home" role="tab" aria-controls="home" aria-selected="true">Plquitas Simples </a> </li>
                        <li *ngIf="showNeon" class="nav-item" role="presentation"> <a class="nav-link" id="profile-tab" data-toggle="tab"
                                href="#profile" role="tab" aria-controls="profile" aria-selected="false">Plaquitas Neón</a> </li>
                        <li *ngIf="showMetal" class="nav-item" role="presentation"> <a class="nav-link" id="contact-tab" data-toggle="tab"
                                href="#contact" role="tab" aria-controls="contact" aria-selected="false">Plaquitas metálicas</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container mt-2 mb-5">
            <div *ngIf="allProductsData" class="products">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span
                                class="font-weight-bold text-uppercase">Plaquitas Simples</span>
                            
                        </div>
                        <div class="row g-3">
                            <div class="col-12 col-md-4" [ngClass]="{'d-none': item.tagType !== 'simple'}" *ngFor="let item of allProductsData let i = index">
                                <ng-container *ngIf="item.tagType === 'simple'">
                                    <div class="card" *ngFor="let val of item.images let j = index">
                                        <ng-container *ngIf="j === 0">
                                            <img alt="{{val.imageID}}" style="height: 300px; object-fit: cover;" src="{{val.imageURL}}" class="card-img-top">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between"> <span class="font-weight-bold">Palquita
                                                        {{item.productName}}</span>
                                                    <span class="font-weight-bold">{{ item.cost | currency:"₡"}}</span>
                                                </div>
                                                <p class="card-text mb-1 mt-1 text-left">
                                                    {{item.description}}
                                                </p>
                                                <div class="d-flex align-items-center flex-row">
                                                    <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee"> Disponibles:
                                                        {{item.quantity}}
                                                    </span>
                                                </div>
                                                <div class="d-flex align-items-center flex-row">
                                                    <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee"> Color: {{item.color}}
                                                    </span>
                                                </div>
                                                <div class="d-flex align-items-center flex-row">
                                                    <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee"> Tamaño: {{item.size}}
                                                    </span>
                                                </div>
                                                <hr>
                                                <div class="card-body">
                                                    <div class="text-right buttons row justify-content-between">
                                                        <button class="btn btn-outline-dark btn-sm">add to wishlist</button>
                                                        <button class="btn btn-dark btn-sm">Add to cart</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                       
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!--Chairs-->
                        <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span
                                class="font-weight-bold text-uppercase">Plaquitas Neón</span>
                        </div>
                        <div class="row g-3">
                            <div class="col-12 col-md-4" [ngClass]="{'d-none': item.tagType !== 'neon'}" *ngFor="let item of allProductsData let i = index">
                                <ng-container *ngIf="item.tagType === 'neon'">
                                    <div class="card" *ngFor="let val of item.images let j = index">
                                        <ng-container *ngIf="j === 0">
                                            <img alt="{{val.imageID}}" style="height: 300px; object-fit: cover;" src="{{val.imageURL}}" class="card-img-top">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between"> <span class="font-weight-bold">Palquita
                                                        {{item.productName}}</span>
                                                    <span class="font-weight-bold">{{ item.cost | currency:"₡"}}</span>
                                                </div>
                                                <p class="card-text mb-1 mt-1 text-left">
                                                    {{item.description}}
                                                </p>
                                                <div class="d-flex align-items-center flex-row">
                                                    <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee"> Disponibles:
                                                        {{item.quantity}}
                                                    </span>
                                                </div>
                                                <div class="d-flex align-items-center flex-row">
                                                    <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee"> Color:
                                                        {{item.color}}
                                                    </span>
                                                </div>
                                                <div class="d-flex align-items-center flex-row">
                                                    <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee"> Tamaño:
                                                        {{item.size}}
                                                    </span>
                                                </div>
                                                <hr>
                                                <div class="card-body">
                                                    <div class="text-right buttons row justify-content-between">
                                                        <button class="btn btn-outline-dark btn-sm">add to wishlist</button>
                                                        <button class="btn btn-dark btn-sm">Add to cart</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <!--Dining-->
                        <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span
                                class="font-weight-bold text-uppercase">Plaquitas metálicas</span>
                            
                        </div>
                        <div class="row g-3">
                            <div class="col-12 col-md-4" [ngClass]="{'d-none': item.tagType !== 'metal'}" *ngFor="let item of allProductsData let i = index">
                                <ng-container *ngIf="item.tagType === 'metal'">
                                    <div class="card" *ngFor="let val of item.images let j = index">
                                        <ng-container *ngIf="j === 0">
                                            <img alt="{{val.imageID}}" style="height: 300px; object-fit: cover;" src="{{val.imageURL}}" class="card-img-top">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between"> <span class="font-weight-bold">Palquita
                                                        {{item.productName}}</span>
                                                    <span class="font-weight-bold">{{ item.cost | currency:"₡"}}</span>
                                                </div>
                                                <p class="card-text mb-1 mt-1 text-left">
                                                    {{item.description}}
                                                </p>
                                                <div class="d-flex align-items-center flex-row">
                                                    <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee"> Disponibles:
                                                        {{item.quantity}}
                                                    </span>
                                                </div>
                                                <div class="d-flex align-items-center flex-row">
                                                    <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee"> Color:
                                                        {{item.color}}
                                                    </span>
                                                </div>
                                                <div class="d-flex align-items-center flex-row">
                                                    <img src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee"> Tamaño:
                                                        {{item.size}}
                                                    </span>
                                                </div>
                                                <hr>
                                                <div class="card-body">
                                                    <div class="text-right buttons row justify-content-between">
                                                        <button class="btn btn-outline-dark btn-sm">add to wishlist</button>
                                                        <button class="btn btn-dark btn-sm">Add to cart</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="back-to-top" class="btn btn-inverse isShow" *ngIf="isShow" (click)="gotoTop()"
        (scroll)="divScroll($event, true)"> 👆</div>
</div>    
