
#HomeComponent{

    .login-block{
        background: #81D4FA;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #81D4FA, #81D4FA);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #81D4FA, #81D4FA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        float:left;
        width:100%;
        padding : 50px 0;
        height: 100vh;
    }
    
    .container{
        background:#fff; 
        border-radius: 10px; 
        box-shadow:15px 20px 0px rgba(0,0,0,0.1);
    }
    .carousel-inner{
        border-radius:0 10px 10px 0;
    }
    .carousel-caption{
        text-align:center;
        left:50%;
    }
    .login-sec{
        padding: 38px 30px; 
        position:relative;
    }
    .login-sec .copy-text{
        position:absolute; 
        width:80%; bottom:20px; 
        font-size:13px; 
        text-align:center;
    }
    .login-sec .copy-text i{
        color:#FEB58A;
    }
    .login-sec .copy-text a{
        color:#E36262;
    }
    .login-sec h2{
        // margin-bottom:30px; 
        font-weight:800; 
        font-size:30px; 
        color: #DE6262;
    }
    .login-sec h2:after{
        content:" "; 
        width:100px; 
        height:5px; 
        background:#FEB58A; 
        display:block; 
        margin-top:20px; 
        border-radius:3px; 
        margin-left:auto;
        margin-right:auto
    }
    .btn-login{
        background: #DE6262; 
        color:#fff; 
        font-weight:600;
    }
    .banner-text{ 
        position:absolute; 
        bottom:40px; 
        padding:10px;
        border-radius: 5px;
        margin-bottom: 12px;
        background-color: rgba(0, 0, 0, 0.568);
        border: 1px solid rgba(255, 255, 255, 0.452);
    }
    .banner-text h2{
        color:rgb(255, 255, 255); 
        font-weight:600;
        font-size: 12px;
    }
    
    .banner-text p{
        color:rgb(42, 42, 42);
    }
    
    .btn-yellow {
        border: 2px solid #F9A825;
        background-color: #F9A825;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px
    }
    
    .btn-yellow:hover {
        background-color: #F57F17;
        border: 2px solid #F57F17
    }
    
    .btn-inverse {
        border: 2px solid #F9A825;
        background-color: transparent;
        color: #F9A825;
        font-weight: bold;
        letter-spacing: 1px
    }
    
    .btn-inverse:hover {
        background-color: #F57F17;
        color: #fff;
        border: 2px solid #F57F17
    }
    
    ::placeholder {
        color: #E0E0E0;
        opacity: 1
    }
    
    :-ms-input-placeholder {
        color: #E0E0E0
    }
    
    ::-ms-input-placeholder {
        color: #E0E0E0
    }
    
    input {
        padding: 1px 0px 3px 0px;
        border: none;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 3px;
        margin-top: 2px;
        box-sizing: border-box;
        color: #000;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 500
    }
    
    input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid #EF5350;
        outline-width: 0
    }
    
    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
    
    a:hover {
        color: inherit
    }
    
    .text-sm {
        font-size: 14px
    }
    
    .text-dim {
        color: #BDBDBD
    }
    
    .icon {
        width: 20px;
        height: 20px;
        cursor: pointer
    }

}