<div id="dashboard-pet" class="p-1 no-gutters justify-content-between mb-4 align-items-center mt-3">
    <div class="container-fluid" *ngIf="profile">
        <div class="row">
            <div class="col-sm">
              <h5 class="page-heading"> <i class="fa fa-paw" aria-hidden="true"></i>  Bienvenido a tu perfil {{profile.petName}}!</h5>
            </div>
            <div class="col-sm">
                <div class="alert error-message text-center" *ngIf="hideMsg" [ngClass]="{'alert-dark': code == 'Ordenando','alert-info': code == 'Pendiente', 'alert-primary': code == 'Preparando', 'alert-warning': code == 'Entrega', 'alert-success': code == 'Recibido'}">
                    <i class="fa fa-paw mt-1 mr-3"></i> <strong class="text-center">QR status: {{ code }}</strong>
                </div>
              </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-6" >
                        <!-- <button [disabled]="code == 'Ordenando' || code == 'Pendiente' || code == 'Preparando' || code == 'Enviado' || code == 'Recibido'" (click)="generateQrCode()" type="submit" class="btn btn-yellow btn-sm col-12 float-right mb-2"> -->
                        <button (click)="goShopping()" type="submit" class="btn btn-yellow btn-sm col-12 float-right mb-2">
                          <i *ngIf="!loadingQr" class="fa fa-paw" aria-hidden="true"></i>
                          <svg *ngIf="loadingQr" class="loader" viewBox="0 0 24 24">
                              <circle class="loader__value" cx="12" cy="12" r="10" />
                              <circle class="loader__value" cx="12" cy="12" r="10" />
                              <circle class="loader__value" cx="12" cy="12" r="10" />
                              <circle class="loader__value" cx="12" cy="12" r="10" />
                              <circle class="loader__value" cx="12" cy="12" r="10" />
                              <circle class="loader__value" cx="12" cy="12" r="10" />
                          </svg>
                          Carrito de compras
                        </button>
                    </div>
                    <div class="col-6">
                      <button (click)="goToProfile()" class="btn btn-yellow btn-sm col-12 float-right mb-2">
                          Ver Perfil
                      </button>
                    </div>
                 </div>
            </div>
          </div>
        <div class="row no-gutters">
            <div class="col-xs-12 col-12 col-sm-4 col-md-4 col-lg-3">
                <div class="userProfileInfo">
                    <div class="image text-center">
                        <img src="{{profile.photo}}" style=" width:210px; height:200px;" alt="{{profile.petName}}" class=" mt-2 img-responsive rounded-circle">
                        
                        <a (click)="updatePhoto()" class="editImage">
                            <i class="fa fa-camera"></i>
                        </a>
                    </div>
                    <div class="box p-1">
                        <div class="name"><strong>{{profile.Petname}}</strong></div>
                        <div class="info">
                            <span><i class="fas fa-phone"></i> <a title="#">  (+506) {{profile.phone}}</a></span>
                            <span><i class="fas fa-envelope"></i> <a href="{{profile.email}}" title="{{profile.email}}"> {{profile.email}}</a></span>
                            <span><i class="fas fa-address-book"></i> {{profile.address}}</span>
                            <a *ngIf="profile.linkTwitter != '' && profile.linkTwitter != 'null'" target="_blank" href="{{profile.linkTwitter}}" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Link de Twitter</a>
                            <a *ngIf="profile.linkFacebook != '' && profile.linkFacebook != 'null'" target="_blank" href="{{profile.linkFacebook}}" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Link de facebook</a>
                            <a *ngIf="profile.linkInstagram != '' && profile.linkInstagram != 'null'" target="_blank" href="{{profile.linkInstagram}}" class="btn btn-block btn-instagram"> <i class="fab fa-instagram"></i>   Link de instagram</a>
                        </div>
                        <div>
                            <button (click)="reportProfile()" class="btn w-100 btn-danger"><img style="height: 30px; width: 30px;" alt="{{profile.photo}}" src="https://cdn2.iconfinder.com/data/icons/cute-husky-emoticon/512/husky_emoji_sad-512.png"> Reportar perfil de {{profile.petName}} </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-xs-12 col-12 col-sm-8  col-md-8 col-lg-9">
                <div class="box">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs nav-pills nav-fill" id="nav-tab" role="tablist">
                        <li class="nav-item" (click)="stepTrackOrder(1)" ><a class="nav-link" [ngClass]="{'active': id === 1}" (click)="stepTrackOrder(1)" id="nav-calendar-tab" data-toggle="tab" href="#nav-calendar" role="tab" aria-controls="nav-calendar" aria-selected="false"> <i class="fas fa-list"></i> Eventos</a></li>
                        <li class="nav-item" (click)="stepTrackOrder(2)" ><a class="nav-link" [ngClass]="{'active': id === 2}" (click)="stepTrackOrder(2)" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="true"><i class="fas fa-calendar-alt"></i> Calendario</a></li>
                        <li class="nav-item" (click)="stepTrackOrder(3)" ><a class="nav-link" [ngClass]="{'active': id === 3}" (click)="stepTrackOrder(3)" id="nav-activity-tab" data-toggle="tab" href="#nav-activity" role="tab" aria-controls="nav-activity" aria-selected="false"><i class="fas fa-tasks"></i> Perfil</a></li>
                        <li class="nav-item" (click)="stepTrackOrder(4)" ><a class="nav-link" [ngClass]="{'active': id === 4}" (click)="stepTrackOrder(4)" id="nav-location-tab" data-toggle="tab" href="#nav-location" role="tab" aria-controls="nav-location" aria-selected="false"><i class="fas fa-location-arrow"></i> Ubicacion</a></li>
                        <li class="nav-item" (click)="stepTrackOrder(5)" ><a class="nav-link" [ngClass]="{'active': id === 5}" (click)="stepTrackOrder(5)" id="nav-panelControl-tab" data-toggle="tab" href="#nav-panelControl" role="tab" aria-controls="nav-panelControl" aria-selected="false"> <i class="fas fa-lock"></i> Permisos</a></li>
                    </ul>
    
                    <div class="tab-content">
                        <!-- Acerca -->
                        <div *ngIf="id === 1" class="tab-panel fade show "  [ngClass]="{'active': id === 1}"  id="nav-calendar" role="tabpanel" aria-labelledby="nav-calendar-tab">
                            <div class="userProfileContent">
                                <div class="row">
                                    <div *ngFor="let item of profile.calendar" class="col-sm-4 col-md-4 col-lg-4 mt-4">
                                        <div class="card box p-3">
                                            <div class="card-block">
                                                <h6 class="card-title text-center col-12"><i class="fas fa-list"></i> {{ item.title }}</h6>
                                                <p class="card-text">Comienza: {{item.date}}</p>
                                                <p class="card-text"> Termina: {{item.enddate}} </p>
                                                <div class="card-text">
                                                   Descripcion: {{item.description}}
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button class="btn btn-block btn-inverse btn-sm" (click)="editCalendar(item)" type="submit">Editar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-5" *ngIf="profile.calendar.length == 0">
                                        <div class="card box p-5">
                                            <div class="card-block">
                                                <h6 class="card-title text-center col-12"><i class="fas fa-list"></i> </h6>
                                                <div class="card-text">
                                                    No hay eventos favor de ir a calendario para agregar uno
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <a class="nav-link " (click)="stepTrackOrder(2)" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="true"><i class="fas fa-calendar-alt"></i> Calendario</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>

                        <!-- Calendario -->
                        <div *ngIf="id === 2" class="tab-panel fade show" [ngClass]="{'active': id === 2}" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                            <full-calendar [options]="calendarOptions"></full-calendar>
                        </div>
    
                        <!-- Perfil -->
                        <div *ngIf="id === 3" class="tab-panel fade show" [ngClass]="{'active': id === 3}"  id="nav-activity" role="tabpanel" aria-labelledby="nav-activity-tab">
                            <div class="userActivities text-center">
                                <h2 class="boxTitle">  <i class="fa fa-paw" aria-hidden="true"></i>  Informacion personal</h2>
                                <form  [formGroup]="newPetInfoForm" (ngSubmit)="addNewPetInfoSubmit()">
                                    <div class="form-row">
                                        <div class="form-group input-group col-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-paw" aria-hidden="true"></i>  </span>
                                            </div>
                                            <input type="text" formControlName="petName" class="form-control" placeholder="Nombre del can" [ngClass]="{ 'is-invalid': submitted && g.petName.errors }" />
                                            <div *ngIf="submitted && g.petName.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.petName.errors }">
                                                <div *ngIf="g.petName.errors.required">Nombre del can es requerido</div>
                                            </div>
                                        </div>
      
                                        <div class="form-group input-group col-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                            </div>
                                            <input type="text" formControlName="email" class="form-control" placeholder="Email del can" [ngClass]="{ 'is-invalid': submitted && g.email.errors }" />
                                            <div *ngIf="submitted && g.email.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.email.errors }">
                                                <div *ngIf="g.email.errors.required">Nombre del can es requerido</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group input-group col-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-user" aria-hidden="true"></i>  </span>
                                            </div>
                                            <input type="text" formControlName="ownerPetName" class="form-control" placeholder="Nombre del Dueño" [ngClass]="{ 'is-invalid': submitted && g.ownerPetName.errors }" />
                                            <div *ngIf="submitted && g.ownerPetName.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.ownerPetName.errors }">
                                                <div *ngIf="g.ownerPetName.errors.required">Dueño del can es requerido</div>
                                            </div>
                                        </div>
      
                                        <div class="form-group input-group col-6">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                            </div>
                                            <input formControlName="phone" pattern="\d*" class="form-control" placeholder="Telefono " maxlength="8" [ngClass]="{ 'is-invalid': submitted && g.phone.errors }" />
                                            <div *ngIf="submitted && g.phone.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.phone.errors }">
                                                <div *ngIf="g.phone.errors.required">Telefono es requerido</div>
                                                <div *ngIf="g.phone.errors.minlength">Telefono debe ser al menos 8 digitos</div>
                                                <div *ngIf="g.phone.errors.pattern">Solo se permiten numeros</div>
                                            </div>
                                        </div> 
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group input-group col-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                                            </div>
                                            <input type="date" formControlName="birthDate" min="today" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.birthDate.errors }" />
                                            <div *ngIf="submitted && g.birthDate.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.birthDate.errors }">
                                                <div *ngIf="g.birthDate.errors.required">Fecha de cumpleaños es requerido</div>
                                            </div>
                                        </div>  
      
                                        <div class="form-group input-group col-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fas fa-birthday-cake"></i> </span>
                                            </div>
                                            <input type="text" formControlName="age" class="form-control" placeholder="Edad del can" [ngClass]="{ 'is-invalid': submitted && g.age.errors }" />
                                            <div *ngIf="submitted && g.age.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.age.errors }">
                                                <div *ngIf="g.age.errors.required">Edad del can es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group input-group col-6">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"> <i class="fas fa-address-book"></i> </span>
                                            </div>
                                            <input type="text" formControlName="veterinarianContact" placeholder="Nombre del veterinario" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.veterinarianContact.errors }" />
                                            <div *ngIf="submitted && g.veterinarianContact.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.veterinarianContact.errors }">
                                                <div *ngIf="g.veterinarianContact.errors.required">Nombre del veterinario es requerido</div>
                                            </div>
                                          </div>
                                        <div class="form-group input-group col-6">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                            </div>
                                            <input formControlName="phoneVeterinarian" pattern="\d*" class="form-control" placeholder="Telefono Veterinario" maxlength="8" [ngClass]="{ 'is-invalid': submitted && g.phoneVeterinarian.errors }" />
                                            <div *ngIf="submitted && g.phoneVeterinarian.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.phoneVeterinarian.errors }">
                                                <div *ngIf="g.phoneVeterinarian.errors.required">Telefono es requerido</div>
                                                <div *ngIf="g.phoneVeterinarian.errors.minlength">Telefono debe ser al menos 8 digitos</div>
                                                <div *ngIf="g.phoneVeterinarian.errors.pattern">Solo se permiten numeros</div>
                                            </div>
                                        </div>  
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group input-group col-4">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"> <i class="fab fa-twitter"></i> </span>
                                            </div>
                                            <input type="text" formControlName="linkTwitter" placeholder="Link de Twitter" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.linkTwitter.errors }" />
                                            <div *ngIf="submitted && g.linkTwitter.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.linkTwitter.errors }">
                                                <div *ngIf="g.linkTwitter.errors.required">Link de Twitter es requerido</div>
                                            </div>
                                          </div>
                                        <div class="form-group input-group col-4">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"> <i class="fab fa-facebook-f"></i> </span>
                                            </div>
                                            <input type="text" formControlName="linkFacebook" placeholder="Link de Facebook" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.linkFacebook.errors }" />
                                            <div *ngIf="submitted && g.linkFacebook.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.linkFacebook.errors }">
                                                <div *ngIf="g.linkFacebook.errors.required">Link de Facebook es requerido</div>
                                            </div>
                                        </div> 
                                        <div class="form-group input-group col-4">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"> <i class="fab fa-instagram"></i></span>
                                            </div>
                                            <input type="text" formControlName="linkInstagram" placeholder="Link de instagram" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.linkInstagram.errors }" />
                                            <div *ngIf="submitted && g.linkInstagram.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.linkInstagram.errors }">
                                                <div *ngIf="g.linkInstagram.errors.required">Link de instagram es requerido</div>
                                            </div>
                                        </div>  
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Direccion exacta</label>
                                        <textarea class="form-control" formControlName="address" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.address.errors }"></textarea>
                                        <div *ngIf="submitted && g.address.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.address.errors }">
                                            <div *ngIf="g.address.errors.required">Direccion exacta es requerido</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Necesidades y requisitos de salud y dieta</label>
                                        <textarea class="form-control" formControlName="healthAndRequirements" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.healthAndRequirements.errors }"></textarea>
                                        <div *ngIf="submitted && g.healthAndRequirements.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.healthAndRequirements.errors }">
                                            <div *ngIf="g.healthAndRequirements.errors.required">Contacto veterinario es requerido</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Actividades / juguetes / golosinas favoritas</label>
                                        <textarea class="form-control" formControlName="favoriteActivities" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.favoriteActivities.errors }"></textarea>
                                        <div *ngIf="submitted && g.favoriteActivities.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.favoriteActivities.errors }">
                                            <div *ngIf="g.favoriteActivities.errors.required">Contacto veterinario es requerido</div>
                                        </div>
                                    </div>
                          
                                    <div class="modal-footer text-center">
                                    <button type="submit" class="btn btn-primary float-right">
                                        <i *ngIf="!loading" class="fas fa-edit"></i>
                                        <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                                            <circle class="loader__value" cx="12" cy="12" r="10" />
                                            <circle class="loader__value" cx="12" cy="12" r="10" />
                                            <circle class="loader__value" cx="12" cy="12" r="10" />
                                            <circle class="loader__value" cx="12" cy="12" r="10" />
                                            <circle class="loader__value" cx="12" cy="12" r="10" />
                                            <circle class="loader__value" cx="12" cy="12" r="10" />
                                        </svg>
                                        Actualizar
                                    </button>
                                    </div>
                                </form>
                            </div>
                        </div>
    
                        <!-- Ubicación -->
                        <div *ngIf="id === 4" class="tab-panel fade show" [ngClass]="{'active': id === 4}" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">
                            <div class="row no-gutters">
                                <div class="col-12 text-center">
                                    <h4>Mi ubicacion actual</h4>
                                </div>
                                <div class="map col-12" style="width:100%;height:65vh" #map>
                                  <agm-map [style.height.px]="map.offsetHeight" [latitude]="lat" [styles]="currentTimer" [longitude]="lng" [zoom]="zoom" [scrollwheel]="true" [zoomControl]="true" (mapClick)="mapClicked($event)" [disableDefaultUI]="false">
                                
                                    <agm-marker style="border-radius: 50%;" *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [agmFitBounds]="true" [iconUrl]="{url:m.photo, scaledSize:{height:45, width:40, radius:5}}">
                                        
                                      <agm-info-window *ngIf="showInfo" #infowindow [isOpen]="showInfo" >
                                        <h5>Es tu vivienda actual?</h5>
                                        <p>Si no es la vivienda puedes cambiarla haciendo click</p>
                                        <button class="btn" (click)="changePosition(m)" >Cambiar vivienda</button>
                                        <button class="btn btn-success" (click)="savePosition()" >Guardar vivienda</button>
                                      </agm-info-window>
                                      
                                    </agm-marker>
                                  
                                    <agm-direction *ngIf="generate" [renderOptions]="renderOptions" [markerOptions]="markerOptions" [origin]="origin" [destination]="destination"></agm-direction>
                                  </agm-map>
                                </div>
                                <div class="container">
                                    <div class="btn-toolbar text-center well">
                                        <div class="col-12 pt-2 pr-0 pl-0"> <button class="btn btn-info btn-sm" (click)="setCurrentPosition()">Mi Ubicación Actual</button></div>
                                    </div>
                              </div>
                            </div>
                        </div>

                        <!-- Panel control -->
                        <div *ngIf="id === 5" class="tab-panel fade show "  [ngClass]="{'active': id === 5}"  id="nav-panelControl" role="tabpanel" aria-labelledby="nav-panelControl-tab">   
                            <div class="panelProfileContent">
                                <div class="row">
                                    <div class="col-sm">
                                        <h4>  <i class="fa fa-paw" aria-hidden="true"></i> Panel de control</h4>
                                    </div>
                                    <div class="col-sm">
                                        <button [disabled]="!updatePermission" (click)="updatePermissionList()" type="submit" class="btn btn-yellow btn-sm col-12 float-right mb-2">
                                            <i *ngIf="!loadingQr" class="fa fa-paw" aria-hidden="true"></i>
                                            <svg *ngIf="loadingQr" class="loader" viewBox="0 0 24 24">
                                                <circle class="loader__value" cx="12" cy="12" r="10" />
                                                <circle class="loader__value" cx="12" cy="12" r="10" />
                                                <circle class="loader__value" cx="12" cy="12" r="10" />
                                                <circle class="loader__value" cx="12" cy="12" r="10" />
                                                <circle class="loader__value" cx="12" cy="12" r="10" />
                                                <circle class="loader__value" cx="12" cy="12" r="10" />
                                            </svg>
                                            Actualizar permisos
                                        </button>
                                    </div>
                                </div>    

                                <div class="card-deck">
                                    <div *ngIf="profile.ownerPetName" class="card">
                                        <div class="card-body">
                                            <span class="card-title"><i class="fa fa-user"></i> Propietari@</span>
                                            <p class="card-text">{{profile.ownerPetName}}</p>
                                        </div>
                                    </div>
                                    <div *ngIf="profile.phone" class="card">
                                        <div class="card-body">
                                            <span class="card-title"><i class="fa fa-phone"></i> Telefono</span>
                                            <p class="card-text">{{profile.phone}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.phone" (change)="changed(permissionData)" [(ngModel)]="permissionData.showPhoneInfo"></app-switch>
                                        </div>
                                    </div>
                                    <div *ngIf="profile.email" class="card">
                                        <div class="card-body">
                                            <span class="card-title"><i class="fa fa-envelope"></i> Email</span>
                                            <p class="card-text" >{{profile.email}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.email" (change)="changed(permissionData)" [(ngModel)]="permissionData.showEmailInfo"></app-switch>
                                        </div>
                                    </div>
                                </div> 
                                <div class="card-deck">
                                    <div *ngIf="profile.age" class="card">
                                        <div class="card-body">
                                            <span class="card-title"> Edad</span>
                                            <p class="card-text">{{profile.age}} años</p>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.age" (change)="changed(permissionData)" [(ngModel)]="permissionData.showAgeInfo"></app-switch>
                                        </div>
                                    </div>
                                    <div *ngIf="profile.address" class="card">
                                        <div class="card-body">
                                            <span class="card-title">Direcion de habitacion</span>
                                            <p class="card-text" >{{profile.address}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.address" (change)="changed(permissionData)" [(ngModel)]="permissionData.showAddressInfo"></app-switch>
                                        </div>
                                    </div>
                                    <div *ngIf="profile.favoriteActivities" class="card">
                                        <div class="card-body">
                                            <span class="card-title"> Actividades Favoritas</span>
                                            <p class="card-text">{{profile.favoriteActivities}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.favoriteActivities" (change)="changed(permissionData)" [(ngModel)]="permissionData.showFavoriteActivities"></app-switch>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-deck">
                                    <div *ngIf="profile.healthAndRequirements" class="card">
                                        <div class="card-body">
                                            <span class="card-title">Salud y Cuidados</span>
                                            <p class="card-text" >{{profile.healthAndRequirements}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.healthAndRequirements" (change)="changed(permissionData)" [(ngModel)]="permissionData.showHealthAndRequirements"></app-switch>
                                        </div>
                                    </div>
                                    <div *ngIf="profile.veterinarianContact" class="card">
                                        <div class="card-body">
                                            <span class="card-title"> Nombre Veterinario</span>
                                            <p class="card-text">{{profile.veterinarianContact}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.veterinarianContact" (change)="changed(permissionData)" [(ngModel)]="permissionData.showVeterinarianContact"></app-switch>
                                        </div>
                                    </div>
                                    <div *ngIf="profile.phoneVeterinarian" class="card">
                                        <div class="card-body">
                                            <span class="card-title"> Telefono Veterinario</span>
                                            <p class="card-text">{{profile.phoneVeterinarian}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.phoneVeterinarian" (change)="changed(permissionData)" [(ngModel)]="permissionData.showPhoneVeterinarian"></app-switch>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-deck">
                                    <div *ngIf="profile.linkTwitter" class="card">
                                        <div class="card-body">
                                            <a *ngIf="profile.linkTwitter != ''" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i> Twitter</a>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.linkTwitter" (change)="changed(permissionData)" [(ngModel)]="permissionData.showLinkTwitter"></app-switch>
                                        </div>
                                    </div>
                                    <div *ngIf="profile.linkFacebook" class="card">
                                        <div class="card-body">
                                            <a *ngIf="profile.linkFacebook != ''"  class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> facebook</a>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.linkFacebook" (change)="changed(permissionData)" [(ngModel)]="permissionData.showLinkFacebook"></app-switch>
                                        </div>
                                    </div>
                                    <div *ngIf="profile.linkInstagram" class="card">
                                        <div class="card-body">
                                            <a *ngIf="profile.linkInstagram != ''" class="btn btn-block btn-instagram"> <i class="fab fa-instagram"></i> instagram</a>
                                        </div>
                                        <div class="card-footer">
                                            <app-switch size="small" name="profile.linkInstagram" (change)="changed(permissionData)" [(ngModel)]="permissionData.showLinkInstagram"></app-switch>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-deck">
                                    <div  class="card">
                                        <div class="card-body">
                                            <a class="btn"><i class="fas fa-location-arrow"></i> Location</a>
                                        </div>
                                        <div class="card-footer text-center">
                                            <app-switch size="small" name="profile.showLocationInfo" (change)="changed(permissionData)" [(ngModel)]="permissionData.showLocationInfo"></app-switch>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newCalendarEventModal" tabindex="-1" role="dialog" aria-labelledby="newCalendarEventModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 *ngIf="isNewEvent" class="modal-title" id="newCalendarEventModal">Nuevo Evento</h5>
          <h5 *ngIf="!isNewEvent" class="modal-title" id="newCalendarEventModal">Editar Evento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="isNewEvent" [formGroup]="newEventForm" (ngSubmit)="newEventCalendarSubmit()">
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input type="text" formControlName="title" class="form-control" placeholder="Nombre completo" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.title.errors }">
                  <div *ngIf="f.title.errors.required">Nuevo titulo es requerido</div>
              </div>
            </div> 
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
              </div>
              <input type="date" formControlName="date" min="today" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
              <div *ngIf="submitted && f.date.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.date.errors }">
                  <div *ngIf="f.date.errors.required">Fecha de Inicio es requerido</div>
              </div>
            </div> 
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
              </div>
              <input type="date" formControlName="enddate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.enddate.errors }" />
              <div *ngIf="submitted && f.enddate.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.enddate.errors }">
                  <div *ngIf="f.enddate.errors.required">Fecha de Final es requerido</div>
              </div>
            </div>  

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input type="text" formControlName="description" class="form-control" placeholder="Descripcion" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.description.errors }">
                    <div *ngIf="f.description.errors.required">Descripcion es requerido</div>
                </div>
              </div> 
  
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary float-right">
                  <i *ngIf="!loading" class="fas fa-plus-circle"></i>
                  <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                    </svg>
                  Agregar
                </button>
              </div>
          </form>
          <form *ngIf="!isNewEvent" [formGroup]="newEventForm" (ngSubmit)="newEventCalendarSubmit()">
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input type="text" formControlName="title" class="form-control" placeholder="Nombre completo" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.title.errors }">
                  <div *ngIf="f.title.errors.required">Nuevo titulo es requerido</div>
              </div>
            </div> 
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
              </div>
              <input type="date" formControlName="date" min="today" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
              <div *ngIf="submitted && f.date.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.date.errors }">
                  <div *ngIf="f.date.errors.required">Fecha de Inicio es requerido</div>
              </div>
            </div> 
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
              </div>
              <input type="date" formControlName="enddate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.enddate.errors }" />
              <div *ngIf="submitted && f.enddate.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.enddate.errors }">
                  <div *ngIf="f.enddate.errors.required">Fecha de Final es requerido</div>
              </div>
            </div>  
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input type="text" formControlName="description" class="form-control" placeholder="Descripcion" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.description.errors }">
                    <div *ngIf="f.description.errors.required">Descripcion es requerido</div>
                </div>
              </div> 
  
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary float-right">
                  <i *ngIf="!loading" class="fas fa-edit"></i>
                  <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                    </svg>
                  Actualizar
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="updatePhotoModal" tabindex="-1" role="dialog" aria-labelledby="updatePhotoModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="updatePhotoModal">Actualiza foto perfil</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updatePhotoSubmit()">
            <div class="form-group mb-1 text-center">
                <label class="font-weight-bold">Foto:</label>
                <input #photoinput type="file" name="image" accept="image/*" class="d-none"
                  (change)="processFile($event)">
                <img [src]="photoSelected || '../../../assets/upload.png'" alt="" style="height: 66px;" class="img-fluid" (click)="photoinput.click()" srcset="">
            </div>
  
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary float-right">
                  <i *ngIf="!loading" class="fas fa-edit"></i>
                  <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                    </svg>
                  Actualizar
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="profile" class="modal fade" id="reportProfileModal" tabindex="-1" role="dialog" aria-labelledby="reportProfileModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="reportProfileModal">Reportar a {{profile.petName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row no-gutters">
                <ng-select [searchable]="false" (change)="changeLeagueOwner(petStatusInfo)" [(ngModel)]="petStatusInfo" [clearable]="false" class="rounded-0 flex-fill" id="inputGroupSelect01">
                    <ng-option *ngFor="let item of FilteredPetStatus" [value]="item.Id">
                        <span class="ng-option-label">{{ item.Name }}</span>
                    </ng-option>
                </ng-select>   
            </div>
          <form class="form mt-3" *ngIf="showReportForm" [formGroup]="newLostPetForm" (ngSubmit)="sendPetStatusLost()" >
            <div class="form-group">
                <label for="exampleInputEmail1">Ultimo lugar visto</label>
                <input type="text" formControlName="lastPlaceLost" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && h.lastPlaceLost.errors }" />
                <div *ngIf="submitted && h.lastPlaceLost.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && h.lastPlaceLost.errors }">
                    <div *ngIf="h.lastPlaceLost.errors.required">Nuevo titulo es requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Dia que se perdio</label>
                <input type="date" id="datefield" formControlName="date" min="today" class="form-control" [ngClass]="{ 'is-invalid': submitted && h.date.errors }" />
                <div *ngIf="submitted && h.date.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && h.date.errors }">
                    <div *ngIf="h.date.errors.required">Dia que se perdio es requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Describa como fue que se perdio</label>
                <textarea class="form-control" formControlName="descriptionLost" placeholder="Esto nos ayudara para informar en el sitio" class="form-control" [ngClass]="{ 'is-invalid': submitted && h.descriptionLost.errors }"></textarea>
                <div *ngIf="submitted && h.descriptionLost.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && h.descriptionLost.errors }">
                    <div *ngIf="h.descriptionLost.errors.required">Descripcion es requerido</div>
                </div>
            </div>

              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary float-right">
                  <i *ngIf="!loading" class="fas fa-edit"></i>
                  <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                    </svg>
                  Enviar reporte
                </button>
              </div>
          </form>
          <div *ngIf="!showReportForm">
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
                <button (click)="updateReportStatus()" type="submit" class="btn btn-primary float-right">
                  <i *ngIf="!loading" class="fas fa-edit"></i>
                  <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                    </svg>
                  Actualizar Status
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
